option_settings:
  - option_name: AWS_REGION
    value: eu-west-1
  - option_name: TABLE_NAME
    value: garsonnier-items
  - option_name: WA_ACCESS_TOKEN
    value: EAAQxkvrLalgBOZCBNq3cf7QZC6H73R3zlxC8pmFXTMoiQMqX2D6wlvOxCK8CCJZAlzVwrYSOwVNEJMD7oYnm3zRVqn9OfXsfa6ZC7wWJHA8ySWBProPQ5bFZA6JZAz6ZBocqMxy640Qfx5f4wnlm8o3rcSSIwnud4x3RpnUfAZCJUOPQPOFZBZAMfd0zIRH8UKg3Wd
  - option_name: WA_SENDER_ID
    value: 172462892610373
  - option_name: WA_RECIPIENT_ID
    value: 385923841148
  - option_name: MIN_PRICE
    value: 350
  - option_name: MAX_PRICE
    value: 450